*{
  /* margin: 10px; */
}
.card{
  width: 300px;
  height: 300px;
  float:left;
  display: block;
  padding: 10px;
  margin: 10px;
  margin-left:40px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;

}
.card-img-top{
    width: 120px;
    height: 200px;
    padding-left:10px;
    padding-top: 10px;

}
.card-body{
  width: 180px;
  position: relative;
  top:-210px;
  left:140px;
  font-size: 15px;
  /* border: 1px solid black; */
}
.card-title{

}
.card-text{
  text-align: left;

}
.card-readby{
  position: relative;
  top:-110px;
  left:10px;
}
.card>form>input[type="submit"]{
  padding: 10px;
  background-color: #222629;
  color: white;
  font-family: 'Aleo';
  font-size: 20px;
  position: relative;
  top: -100px;
}
.dashboard_console{
  position: absolute;
  top:5px;
  font-size: 30px;
  /* left: 20px; */
  font-family: 'Arial';
  float: left;

}
.footer_db{
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  left:0px;
  width: 100%;
  height: 200px;

  background-color: #78ccff;
}
.form_search>input{
  width:400px;
  height:30px;
  float:left;
  border-radius: 5px;
  position: absolute;
  top:100px;
  left:20px;

}
.form_search>input[type="submit"]{
  width: 100px;
  background-color:#78ccff;
   color: white;
   float: left;
  font-family: 'Aleo';
  font-size: 20px;
   left:450px;
}
.form_search>input[name="all_books"]{
  width: 100px;
  background-color:#78ccff;
   color: white;
   float: left;

   left:600px;
}
.div_category>form>input,select{
  width:200px;
  height:30px;
  float:right;
  border-radius: 5px;
  position: absolute;
  top:100px;
   right:210px;

}
.div_category>form>input{
  width: 100px;
  background-color:#78ccff;
  color: white;
  font-family: 'Aleo';
  font-size: 20px;
  right: 80px;
}
.front_div{
  background-color: #ecffff;
  float: left;
}


/* Dashboard css */
/* body{
  background-color: #86C232;
}
.header{
  font-size: 30px;
  position: absolute;
  top: 10px;
  left:10px;
  width: 100%;
  height: 100px;
  background-color: #222629;
}
.logo{
  float: left;
  position: absolute;
  top:10px;
  left:10px;
}
.menu{
  font-family: 'Aleo';
  font-size: 30px;
  float: right;
  position: absolute;
  left: 300px;
  top:10px;
}
.menu > ul,li{
  list-style: none;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  color:white;

}

.menu >ul>li>a{
  color: white;
  text-decoration: none;
}

.front_div{
  font-family: 'Aleo';
  width: 100%;
  height: 2800px;
  background-color: white;
  position:absolute;
  top: 200px;
  background-image: url("../front_div_back.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  padding-top: 50px;

}

#footer_div1 > .footer_ul{
  margin-left: 150px;
  font-size: 20px;
  float: left;
  width: 350px;
  height: 200px;

}
#footer_div2 >.footer_ul{
  font-size: 20px;
  margin-right: 250px;
  width: 450px;
  height: 200px;

  float: right;
}
.footer_li >a ,img{
  width: 30px;
  height: 30px;
  padding-left: 10px;
  text-decoration: none;
  color: white;
} */
