.password_form{
  background-color: lightblue;
  width: 400px;
  height: 300px;
  position: absolute;
  top:100px;
  left:500px;
  padding:20px;
}
.pass_form_div{
  font-family: "Aleo";
  font-size: 20px;
  position: relative;
  top:30px;
  left: 30px;
  padding:20px;
}

.pass_form_div>input{
  width: 350px;
  height:30px;

}
#submit_password>input{
  width: 200px;
  height: 50px;
  background-color: #222629;
  color: white;
  font-family: 'Aleo';
  font-size: 30px;
  float: right;
  position: relative;
  top:60px;
  right: 90px;
}
